@model IEnumerable<CodeProject.StoreDB.Model.DTO.ProductCategoryDTO>

@{
    ViewBag.Title = "ProductCategory";
    Layout = null;
}



<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn" >Danh mục sản phẩm</button>
    <div id="myDropdown" class="dropdown-content">
        @*<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">*@

        <ul>
            @foreach (var item in Model)
            {
                var child = Model.Where(x => x.ParentID == item.ID);
                var parentClass = child.Count() > 0 ? "class=dropdown-toggle data-toggle=dropdown" : "";
                <li class="dropdown">
                    <a href="/Product/GetProductsByCategoryId?categoryId=@item.ID" @parentClass>@item.Name</a>
                    @if (child.Count() > 0)
                    {
                        <ul class="dropdown-menu">
                            @foreach (var childItem in child)
                            {
                                <li><a href="/Product/GetProductsByCategoryId?categoryId=@childItem.ID">@childItem.Name</a></li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>


    </div>
</div>